html, body {
    font-family: Helvetica;
    margin: 0;
    height: 100%;
    width: 100%;
    background: url('../public/git.jpeg') center;
    background-size: cover;
    color: aliceblue;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}
